@page
@using GameBrain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages.AILoop

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}

@{
    var player = Model.TicTacTwoBrain.NextMoveBy == EGamePiece.X ? Model.TicTacTwoBrain.PlayerX : Model.TicTacTwoBrain.PlayerO;
}

<div class="container text-center">
    <div class="row">
        <div class="col-3"></div>
        @if (Model.Winner != null)
        {
            @if (Model.Winner != EGamePiece.Empty)
            {
                <div class="col-5 d-flex align-items-center justify-content-center">Winner is @Model.Winner</div>
            }
            else
            {
                <div class="col-5 d-flex align-items-center justify-content-center">It it a tie!</div>
            }
        }
        else
        {
            <div class="col-5 d-flex align-items-center justify-content-center">Next move by: @player</div>
        }
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5 d-flex align-items-center justify-content-center">

            <table class="board">
                @for (var y = 0; y < Model.TicTacTwoBrain.DimY; y++)
                {
                    <tr>
                        @for (var x = 0; x < Model.TicTacTwoBrain.DimX; x++)
                        {
                            var isGridCell = y >= Model.TicTacTwoBrain.GridCoordinates[1] &&
                                             y <= Model.TicTacTwoBrain.GridCoordinates[1] + Model.TicTacTwoBrain.GridSize - 1 &&
                                             x >= Model.TicTacTwoBrain.GridCoordinates[0] &&
                                             x <= Model.TicTacTwoBrain.GridCoordinates[0] + Model.TicTacTwoBrain.GridSize - 1;
                            <td class="@(isGridCell ? "grid-cell" : "")">
                                @if (Model.TicTacTwoBrain.GameBoard[x][y] == EGamePiece.Empty)
                                {
                                    <button type="submit" class="@(isGridCell ? "btn btn-info btn-sm" : "btn btn-outline-dark btn-sm")">&nbsp;&nbsp;&nbsp;</button>
                                }
                                else
                                {
                                    <button type="submit" class="@(isGridCell ? "btn btn-info btn-sm" : "btn btn-outline-dark btn-sm")">@Model.TicTacTwoBrain.GameBoard[x][y]</button>
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-4 text-start">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            @Model.GameName
                        </button>
                        <div class="collapse" id="collapseExample">

                            <div class="card card-body">
                                <div>
                                    Password: @Model.Password
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Winner == null)
                { 
                    <div class="row">
                        <div class="col text-start">
                            Player's options:
                            <ul>
                                @foreach (var choice in Model.Choices)
                                {
                                    <div class="row">
                                        <div class="col text-start">
                                            <li>@choice</li>
                                        </div>
                                    </div>
                                }
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col text-start">
                            <form method="post">
                                <input type="hidden" name="action" value="reset"/>
                                <input type="hidden" name="GameName" value="@Model.GameName"/>
                                <input type="hidden" name="Piece" value="@Model.Piece"/>
                                <button>Reset</button>
                            </form>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col text-start">
                        <form method="post">
                            <input type="hidden" name="action" value="move"/>
                            <input type="hidden" name="GameName" value="@Model.GameName"/>
                            <button>Next move</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-start">
                        <form method="post">
                            <input type="hidden" name="action" value="exit"/>
                            <input type="hidden" name="GameName" value="@Model.GameName"/>
                            <input type="hidden" name="Piece" value="@Model.Piece"/>
                            <button>Exit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-3"></div>
        <div class="col-5 d-flex align-items-center justify-content-center">@Model.TicTacTwoBrain.PlayerX: has @Model.TicTacTwoBrain.PlayerXPieces pieces left </div>
        <div class="col-4"></div>
    </div>
    <div class="row">

        <div class="col-3"></div>
        <div class="col-5 d-flex align-items-center justify-content-center">@Model.TicTacTwoBrain.PlayerO: has @Model.TicTacTwoBrain.PlayerOPieces pieces left </div>
        <div class="col-4"></div>
    </div>
</div>
